#cloud-config
disable_root: true

system_info:
  default_user:
    name: openshift
    sudo: ["ALL=(ALL) NOPASSWD: ALL"]

write_files:
  - path: /usr/local/bin/kubelet_internal_port
    permissions: 0550
    content: |
      #!/bin/bash -xv
      function ovs_bind_for_kubelet() {
          local port_mac
          local port_id
          local port_cidr
          port_mac=$1
          port_id=$2
          port_cidr=$3
          ovs-vsctl -- --may-exist add-port br-int kubelet \
              -- set Interface kubelet type=internal \
              -- set Interface kubelet external-ids:iface-status=active \
              -- set Interface kubelet external-ids:attached-mac="$port_mac" \
              -- set Interface kubelet external-ids:iface-id="$port_id"
          ip link set dev kubelet address "$port_mac"
          ip link set dev kubelet up
          ip addr add "$port_cidr" dev kubelet
      }
      ovs_bind_for_kubelet "$@"
  - path: /usr/local/bin/bm_node_reconfigure
    permissions: 0550
    content: |
      #!/bin/bash -xv
      sed -i -e s#__internal_api_ip_cidr__#__api_ip_cidr__#g \
             -e s#__tenant_vxlan_ip_cidr__#__vxlan_ip_cidr__#g \
             -e s#__provisioning_ip_cidr__#__instance_ip_cidr__#g \
          /etc/os-net-config/baremetal_config.yaml
      os-net-config -c /etc/os-net-config/baremetal_config.yaml
      sed -i -e s#__tenant_vxlan_ip_cidr__#__vxlan_ip__#g \
          /etc/neutron/plugins/ml2/openvswitch_agent.ini
      sed -i -e "s/__hostname__/$(hostname)/g" \
          /etc/neutron/neutron.conf
      echo "__instance_ip__ $(hostname)" >> /etc/hosts
      /usr/local/bin/kubelet_internal_port "__kubelet_mac_addr__" "__kubelet_port_uuid__" "__kubelet_ip_cidr__"
      systemctl restart neutron-openvswitch-agent.service
  - path: /etc/sudoers.d/00-openshift-no-requiretty
    permissions: 0440
    content: |
      Defaults:openshift !requiretty

runcmd:
  - [sudo, /usr/local/bin/bm_node_reconfigure]
